*{
    margin: 0;
    padding: 0;
    text-align: center;
    /* background-color: black; */
    
}
h1{
    margin-top: 5vw;
   
}

.container{
    margin: 5vh 20vw;
    min-height: 25vw;
    border: 2px solid grey;
}

.text-field {
    width: 80%;
    height: 30%; 
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    resize: none; 
    text-align: left;
}
button{
    margin-top: 5vh;
    padding: 10px 20px;
    background-color: blue;
    border-radius: 5px;
}
.container img{
    object-fit: fill;
    max-height: 500px;
}